body {
  width: auto;
  margin-top: 20px;
}

#chart {
  height: 750px;
  margin-left: 60px;
}

text {
	fill: white;
	font-size: 11px;
	text-anchor: middle;
	font-weight: 800;
	cursor: pointer;
}

#round-labels text {
	font-size: 20px;
	fill: #597459;
}

#result {
  position: absolute;
  left: 790px;
  top: 200px;
  width: 400px;
  font-size: 18px;
  font-weight: 200;
}

#score {
  position: absolute;
  left: 790px;
  top: 260px;
  width: 400px;
  font-size: 30px;
  font-weight: 500;
}

#selectBox{
  position: absolute;
  top: 120px;
  left: 780px;
  width: 20%;
}
#title {
  position: absolute;
  top: 10px;
  left: 270px;
}
#title .large {
  width: 150px;
}